extends ../layouts/main.jade

block content
  .row
    .columns
      #event
        h1= event.title
          if event.location
            small
              | , 
              = event.location
        .meta
          p= moment(event.start).format('LLL')
            if event.end
              | &nbsp;–&nbsp;
              = moment(event.end).format('LLL')
            | &nbsp;
            = event.tags
        if event.mdtext
          != marked(event.mdtext)

  script#template(type="text/ractive")
    | {{^expanded}}
    if is_admin || active_user._id === event.creator
      .right
        | {{#if .askDelete}}
        | Slett?&nbsp;
        a(on-click="deleteEvent") Ja
        | &nbsp;
        | /
        | &nbsp;
        a(on-click="toggleDelete") Nei
        | &ensp;
        | {{else}}
        button.tiny.secondary(on-click="toggleDelete")
          i.fa.fa-lg.fa-trash-o
        | {{/if}}
        button.tiny(on-click="toggleEdit")
          i.fa.fa-edit
          | &nbsp;
          | Rediger
    h1 {{event.title}}
      small
        | {{#event.location}}
        | , {{event.location}}
        | {{/event.location}}
        | &nbsp;{{ago(event.start)}}

    .meta
      .row
        .columns.small-9
          | {{{daterange(event.start, event.end)}}}
          | {{#event.tags}}
          | {{#.}}
          a(href="{{taglink(.)}}")
            i.fa.fa-tag
            | &nbsp;{{.}}
          | {{/.}}
          | {{/event.tags}}
        .columns.small-3.text-right
          permissionicons(permissions="{{event.permissions}}")

    .content
      | {{{marked(event.mdtext)}}}
    | {{/expanded}}
    | {{#expanded}}
    form(on-submit="updateEvent")
      .row
        .columns
          label(for="title") Tittel
          input#title(name="title" type="text" value="{{event.title}}" required)
      .row
        .columns
          label(for="location") Sted
          input#location(name="location" type="text" value="{{event.location}}")
      .row
        .columns.medium-6
          label(for="startdate") Start
          .row
            .columns.small-6
              input#startdate(name="startdate" type="text" value="{{startdate()}}" required)
            .columns.small-6
              input#starttime(name="starttime" type="text" value="{{starttime()}}" placeholder="00:00")
        .columns.medium-6
          label(for="enddate") Slutt
            small Valgfri
          .row
            .columns.small-6
              input#enddate(name="enddate" type="text" value="{{enddate()}}")
            .columns.small-6
              input#endtime(name="endtime" type="text" value="{{endtime()}}" placeholder="00:00")
      .row
        .columns
          label(for="mdtext") Beskrivelse
          textarea#mdtext(name="mdtext" value="{{event.mdtext}}")
      .row
        .columns
          label(for="tags") Merkelapper
          input#tags(name="tags" type="text" value="{{event.tags}}")
      .row
        .columns
          label(for="permissions") Rettigheter
          | {{{permission_options()}}}
      .row
        .columns
          button.small Oppdater
          button.secondary.small(type="reset" on-click="toggleEdit") Avbryt
    | {{/expanded}}

block javascript
  script
    | require('s7n').projects.eventView(
    != JSON.stringify(event)
    |,
    != JSON.stringify(active_user) || "null"
    | );
