extends ../layouts/main.jade

block content
  .row
    .columns
      #projects
        form(action="/projects" method="post")
          h1 Nytt prosjekt
          #slug
            label(for="title") Tittel
            input#title(name="title" type="text")
            label(for="tag") Merkelapp (del av adressen til projektet)
            input#tag(name="tag" type="text")
          label(for="private_mdtext") Intern beskrivelse
          div#private_mdtext
          label(for="public_mdtext") Publisert beskrivelse (om denne er tom, blir ikke prosjektet vist eksternt)
          textarea#public_mdtext(name="public_mdtext")
          label(for="start") Prosjektstart
          input#start(name="start" type="text")
          label(for="end") Prosjektslutt
          input#end(name="end" type="text")
          label(for="permissions") Rettigheter
          select#permissions.chosen-permissions(name="permissions" multiple data-placeholder="Velg prosjektgruppe")
            +permission_options(active_user.groups, active_user.friends)
          button Lagre

        for project in projects
          .project(data-id=project.id)
            h1
              a(href="/projects/" + project._id)= project.title
            p= project.end
            form
              button.deleteproject Slett prosjekt
  script#slugtemplate(type="text/ractive")
    label(for="title") Tittel
    input#title(on-keyup="setSlug" name="title" type="text")
    label(for="tag")
      abbr(title="Alle innlegg, aktiviteter, o.l merket med etiketten vil listes opp på prosjektsiden. Etiketten vil også bli en del av prosjektsidens adresse.") Etikett (Denne bør ikke endres setter at innlegg, aktiviteter eller filer har blitt lagt til prosjektet)
    input#tag(name="tag" type="text" value="{{slug}}")

block javascript
  script.
    require('s7n').projects.projectListView();
    var edit0r = ace.edit('private_mdtext');
    edit0r.setTheme('ace/theme/tomorrow');
    edit0r.getSession().setMode('ace/mode/markdown');
