extends ../layouts/main.jade

block content
  section#music

  script#template(type="text/ractive")
    .row
      .columns
        h1 Notearkivet
        if is_member
          form(on-submit="ignoreSubmit")
            .row
              .columns
                label(for="filter") Filter
                input#filter(type="text" name="q" value="{{query}}")
          | {{#filtered.length}}
          ul
            | {{#filtered}}
            li(intro-outro="slide")
              a(href="/music/{{._id}}")
                span {{{pretty_piece(.)}}}
                | {{#.scores.length}}
                .right
                  span {{.scores.length}}
                | {{/.scores.length}}
            | {{/filtered}}
          | {{/filtered.length}}
          | {{^filtered.length}}
          p Ingen treff
          | {{/filtered.length}}

block javascript
  script
    | require('s7n').projects.musicView(
    != JSON.stringify(pieces)
    | );
