extends ../layouts/main.jade

block content
  .row
    .columns
      section#piece
        h1= piece.title

  script#template(type="text/ractive")
    .row
      .columns
        h1 {{.piece.title}}
          | {{#.piece.subtitle}}
          small {{.piece.subtitle}}
          | {{/.piece.subtitle}}
          .right
            small
              | {{#.piece.composers.length}}
              span {{.piece.composers.join(", ")}}
              | {{/.piece.composers.length}}
              | {{#.piece.arrangers.length}}
              span ({{.piece.arrangers.join(", ")}})
              | {{/.piece.arrangers.length}}

        .row
          .columns.medium-6
            p
              | {{#.piece.publisher}}
              span {{.piece.publisher}},
              | {{/.piece.publisher}}
              | {{#.piece.published}}
              span {{.piece.published}},
              | {{/.piece.published}}
              | {{#.piece.genre}}
              span {{.piece.genre}},
              | {{/.piece.genre}}
              | {{#.piece.band_setup}}
              span {{.piece.band_setup}}
              | {{/.piece.band_setup}}

          .columns.medium-6
            .right
              p
                | {{#.piece.archive_number}}
                b {{.piece.archive_number}}:
                | {{/.piece.archive_number}}
                | {{#.piece.maintenance_status}}
                span {{.piece.maintenance_status}},
                | {{/.piece.maintenance_status}}
                | {{#.piece.acquired}}
                span {{.piece.acquired}}
                | {{/.piece.acquired}}

        | {{#if user_scores.length}}
        h2 Last ned noter
        | {{# user_scores}}
        .row
          .columns.small-5.medium-3.large-2
            a.button(href="{{.path}}") Last ned
          .columns.small-7.medium-9.large-10
            h3
              a(href="/files/{{._id}}") {{.filename}}
          | {{/ user_scores}}
        | {{/if user_scores.length}}

        - var is_local_admin = _.contains(organization.musicscore_admins, active_user._id)
        if is_local_admin
          h2 Last opp noter
          | {{#groups}}
          h3 {{.name}}
          form.sigdrop.drop.dropzone(id="drop-{{._id}}" action="/music/{{piece._id}}/scores")
            input(name="group" type="hidden" value="{{._id}}")
            .fallback
              input(name="file" type="file" multiple)
          //
            form.dropzone.drop(id="drop-{{._id}}" action="/music/{{piece._id}}/scores")
              input(name="group" type="hidden" value="{{._id}}")
              .fallback
                input(name="file" type="file" multiple)
          | {{/groups}}


block javascript
  script
    | require('s7n').projects.piece(
    != JSON.stringify(piece)
    | ,
    != JSON.stringify(groups)
    | ,
    != JSON.stringify(user_scores)
    | );
