extends ../layouts/main.jade

block content
  #project-modal.reveal-modal(data-reveal)
    a.close-reveal-modal &#215;

  #event-modal.reveal-modal(data-reveal)
    a.close-reveal-modal &#215;

  #post-modal.reveal-modal(data-reveal)
    a.close-reveal-modal &#215;

  #music-modal.reveal-modal(data-reveal)
    a.close-reveal-modal

  #project
    .row
      .medium-6.columns
        h1= project.title
        .meta
          .row
            .columns
              if project.start
                = shortdate(project.start)
                | – 
              = shortdate(project.end)
        .content
          if project.public_mdtext
            .row
              .columns
                != marked(project.public_mdtext)

      .medium-6.columns
        #events
          for event in events
            .event
              h3= event.title
                if event.location
                  small
                    | , 
                    = event.location
              .meta
                = longdate(event.start)
                if event.end
                  | – 
                  = longdate(event.end)

  script#project-modal-template(type="text/ractive")
    if active_user
      | {{#error}}
      .row
        .columns
          .alert-box.alert
            | {{error}}
      | {{/error}}

      .row
        .columns
          h2 Rediger prosjekt
          form(on-submit="updateProject")
            .row
              .columns
                label(for="title") Tittel
                input#title(name="title" type="text" value="{{.project.title}}")
            .row
              .columns
                label(for="private_mdtext") Intern beskrivelse
                textarea#private_mdtext(name="private_mdtext" value="{{.project.private_mdtext}}")
            .row
              .columns
                label(for="public_mdtext") Ekstern beskrivelse
                textarea#public_mdtext(name="public_mdtext" value="{{.project.public_mdtext}}")
            .row
              .columns.medium-6
                label(for="startdate") Prosjektstart
                input#startdate(name="startdate" type="text" value="{{isodate(.project.start)}}")
              .columns.medium-6
                label(for="enddate") Prosjektslutt
                input#enddate(name="enddate" type="text" value="{{isodate(.project.end)}}")
            .row
              .columns
                label(for="permissions") Rettigheter
                select#permissions.chosen-permissions(name="permissions" multiple data-placeholder="Velg prosjektgruppe" value="{{dereference_permissions(.project.permissions)}}")
                  +permission_options(active_user.groups, active_user.friends)
            button.small Lagre
            button.small.secondary(on-click="close") Avbryt

  script#event-modal-template(type="text/ractive")
    if active_user
      .row
        .columns
          h2 Legg til aktivitet
          | {{#error}}
          .row
            .columns
              .alert-box.alert
                | {{error}}
          | {{/error}}
          form(on-submit="create")
            .row
              .columns
                label Tittel
                input#event_title(name="title" type="text" value="{{.event.title}}" required)
            .row
              .columns
                label Sted
                input#event_location(name="location" type="text" value="{{.event.location}}")
            .row
              .columns.medium-6
                label(for="startdate") Start
                .row
                  .columns.small-6
                    input#event_startdate(name="startdate" type="text" value="{{startdate()}}" required)
                  .columns.small-6
                    input#event_starttime(name="starttime" type="text" value="{{starttime()}}")
              .columns.medium-6
                label(for="enddate") End
                .row
                  .columns.small-6
                    input#event_enddate(name="enddate" type="text" value="{{enddate()}}")
                  .columns.small-6
                    input#event_endtime(name="endtime" type="text" value="{{endtime()}}")
            .row
              .columns
                label Beskrivelse
                textarea#event_mdtext(name="mdtext" value="{{.event.mdtext}}")
            .row
              .columns
                button Lagre
                button.secondary(on-click="close") Avbryt

  script#post-modal-template(type="text/ractive")
    if active_user
      .row
        .columns
          h2 Nytt innlegg
          form(on-submit="create")
            .row
              .columns
                label(for="post_title") Tittel
                input#post_title(name="title" type="text" required value="{{.post.title}}")
            .row
              .columns
                label(for="post_mdtext") Innhold
                textarea#post_mdtext(name="mdtext" value="{{.post.mdtext}}")
            .row
              .columns
                button Lagre
                button.secondary(on-click="close") Avbryt

  script#music-modal-template(type="text/ractive")
    if active_user
      .row
        .columns
          h2 Finn stykke
          form(on-submit="addPiece")
            .row
              .columns
                input#piece_id(name="piece_id" type="text" value="{{pieceselect}}")
            .row
              .columns
                button Legg til
                button.secondary(on-click="close") Avbryt

          h2 Nytt stykke
          form(on-submit="createPiece")
            .row
              .columns
                label(for="piece_title") Tittel
                input#piece_title(name="title" type="text" required value="{{.piece.title}}")
            .row
              .columns
                label(for="piece_subtitle") Undertittel
                input#piece_subtitle(name="subtitle" type="text" value="{{.piece.subtitle}}")
            .row
              .columns
                label(for="piece_composers") Komponist(er)
                  small Bruk komma som skilletegn når et er flere
                input#piece_composers(name="composers" type="text" value="{{.piece.composers}}")
            .row
              .columns
                label(for="piece_arrangers") Arrangør(er)
                  small Bruk komma som skilletegn når et er flere
                input#piece_arrangers(name="arrangers" type="text" value="{{.piece.arrangers}}")
            .row
              .columns
                button Lagre
                button.secondary(on-click="close") Avbryt


  script#template(type="text/ractive")
    .row
      .medium-8.columns
        if active_user
          .right
            a.button.tiny(on-click="editProject")
              i.fa.fa-edit
              | &nbsp;
              | Rediger prosjekt
        | {{#project}}
        h1 {{title}}
        .meta
          .row
            .columns.small-9
              span.byline
                | {{{daterange(start, end)}}}
            .columns.small-3.text-right
              permissionicons(permissions="{{permissions}}")
        .content
          .row
            .columns
              | {{{marked(private_mdtext)}}}
              | {{#public_mdtext}}
              h2 Ekstern prosjektbeskrivelse
              | {{{marked(public_mdtext)}}}
              | {{/public_mdtext}}
        | {{/project}}

        #music
          if is_member
            .right
              a.button.tiny(on-click="newPiece")
                i.fa.fa-music
                | &nbsp;
                | Nytt stykke
            | {{#music.length}}
            h2 Repertoar
            ul
              | {{#music}}
              li
                a(href="/music/{{.piece._id}}")
                  | {{{pretty_piece(.piece)}}}
                  | {{#if .piece.scores}}
                  |  
                  i.fa.fa-music
                  | {{/if}}
                | &nbsp;
                a(on-click="askRemovePiece")
                  i.fa.fa-times
                | {{#.askRemove}}
                | Fjern? 
                a(on-click="removePiece")
                  | Ja
                | {{/.askRemove}}
              | {{/music}}
            | {{/music.length}}

        #forum
          if active_user
            .right
              a.button.tiny(on-click="newPost")
                i.fa.fa-comments-o
                | &nbsp;
                | Nytt innlegg

          | {{#posts}}
          |   {{>post}}
          | {{/posts}}

        #files
          form#upload(on-submit="createFile" action="/projects/{{project._id}}/files")
            #uploaded
              ul.small-block-grid-3.large-block-grid-4
                | {{#images}}
                |   {{>image}}
                | {{/images}}
              ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3
                | {{#non_images}}
                |   {{>non_image}}
                | {{/non_images}}
                if active_user
                  li
                    a#add_file.button.tiny Legg til fil

      .medium-4.columns
        | {{^expanded}}
        #events
          if active_user
            .right
              a.button.tiny(on-click="newEvent")
                i.fa.fa-calendar-o
                | &nbsp;
                | Ny
          | {{#events}}
          |   {{>event}}
          | {{/events}}

        | {{/expanded}}

    // {{>post}}
    article
      header
        h2
          a(href="/forum/{{id}}") {{.title}}
        .meta
          .row
            .columns.small-9
              span.byline
                a(href="/users/{{creator.username}}") {{.creator.name}}
              time.created(datetime="{{isodatetime(.created)}}") {{shortdate(.created)}}
            .columns.small-3.text-right.creator

        .content
          .row
            .columns {{{marked(.mdtext)}}}
    // {{/post}}

    // {{>event}}
    .event
      h3
        a(href="/events/{{_id}}") {{.title}}
      .toggler(on-click="toggleEvent")
        .meta
          | {{{daterange(.start, .end)}}}

        | {{#.mdtext}}
        .right
          p …
        | {{/.mdtext}}
        | {{#.location}}
        p {{.location}}
        | {{/.location}}
        | {{#.toggled}}
        .content(intro-outro="slide")
          | {{{marked(.mdtext)}}}
        | {{/.toggled}}
      // {{/event}}

    // {{>image}}
    li
      a(href="/files/{{_id}}")
        img.th(src="{{.thumbnail_path}}" alt="{{.filename}}")
    // {{/image}}
    // {{>non_image}}
    li
      a.button.tiny.secondary(href="/files/{{._id}}") {{shorten(.filename)}}
    // {{/non_image}}

block javascript
  script
    | require('s7n').projects.projectDetailView(
    != JSON.stringify(project)
    | ,
    != JSON.stringify(events)
    | ,
    != JSON.stringify(posts)
    | ,
    != JSON.stringify(files)
    | );
