<a id="logobtn" href="/"></a>
<div class="contain-to-grid">
    <nav class="top-bar">
        <ul class="title-area">
            <li class="name">
            <h1><a href="/">Nidarholm</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href=""><span></span></a></li>
        </ul>

        <section class="top-bar-section">
            <ul class="right">
                <li><a href="#">Example</a></li>
                {{#if user}}
                <li><a href="">{{user.username}}</a></li>
                <li><a href="/logout">Logg ut</a></li>
                {{else}}
                <li><a href="/login">Log in</a></li>
                {{/if}}
            </ul>
        </section>
    </nav>
</div>
