[Service]
ExecStart=/usr/bin/node /srv/nidarholm/nidarholm/cluster.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nidarholm
User=www-data
Group=www-data
Environment=NODE_ENV=production PORT=15005

[Install]
WantedBy=multi-user.target
