{
    "passPerPreset": true,
    "plugins": [
        ["relay", {"compat": true, "schema": "./src/server/schema.graphql"}],
        "transform-decorators-legacy"
    ],
    "presets": [
        "react",
        "es2015",
        "stage-0",
        "flow"
    ]
}
