.env
/node_modules
/setup/mongo
/.sass-cache
/tmp
/backup
/uploaded_files
/files*
/setup/dump
/dump
/data
/dist
/src/server/schema.json
/src/server/schema.graphql
*retry
*log
/.vagrant
/scripts/settings.json
/ansible/.keycache
__generated__


#Added by cargo
#
#already existing elements are commented out

/target
**/*.rs.bk
