node_modules
bower_components
/server/settings.js
/scripts/settings.json
/setup/mongo
.sass-cache
tmp
/public
/backup
/uploaded_files
/files
/setup/dump
/dump
/data
/ssl
/dist
/src/server/schema.json
/src/server/schema.graphql
*retry
*log
/.vagrant
/setup/keys
