extends ../layouts/main

block content
  #groups

  script#template(type="text/ractive")
    .row
      .columns.text-right
        i.fa.fa-file-o
        | &nbsp;
        a(on-click="toggleNew") Ny gruppe

    .row
      .columns
        | {{#expanded}}
        form(on-submit="addGroup" data-abide intro-outro="slide")
          .row
            .columns
              h1 Legg til ny gruppe
          .row
            .columns
              label(for='name') Navn på gruppe
              input#name(type='text' required)
          .row
            .columns
              button.small Lagre
              button.small.reset.secondary(type='reset' on-click='toggleNew') Avbryt
        | {{/expanded}}

    .row
      .medium-6.columns
        h1 Alle grupper

        p Klikk på pilene for å velge hvilke grupper som er instrumentgrupper

      .medium-6.columns
        h1 Instrumentgrupper

        p Klikk på kryssene for å ta grupper ut av medlemslista

    .row
      .small-6.columns
        ul#all_groups
          | {{#groups}}
          |   {{>group}}
          | {{/groups}}

      .small-6.columns

        ul#instrument_groups
          | {{#igroups}}
          |   {{>igroup}}
          | {{/igroups}}

    // {{>group}}
    li.text-right.group(style="list-style:none;")
      a(href="/groups/{{_id}}") {{name}}
      | &nbsp;
      i.fa.fa-arrow-circle-right(on-click="addInstrumentGroup")
    // {{/group}}

    // {{>igroup}}
    li.group(style="list-style:none;" decorator="sortable" on-drop="moveInstrumentGroup")
      i.fa.fa-times-circle(on-click="removeInstrumentGroup")
      | &nbsp;
      | {{name}}
    // {{/igroup}}


block javascript
  script
    | var groups = require('s7n').groups.groupListView();
    | groups.set('groups', 
    != JSON.stringify(groups)
    | );
    | groups.set('igroups', 
    != JSON.stringify(igroups)
    | );
