@charset "UTF-8";

// our variables
@import "settings";

// normalize lib
@import "normalize";

// foundation lib
@import "foundation";


// font-awesome
@import "font-awesome";

// our styles
html {
    min-height: 100%;
    background: #fff;
}

body {
    -webkit-font-smoothing: antialiased;
    border-top: 5px solid #a30302;
}

.button {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
        -ie-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;
                border: none;
}
.button:hover {
    text-decoration: none;
}
a:hover,
a:focus {
    text-decoration: underline;
}

#logobtn {
       display: none;
}
nav {
    border-bottom: 1px solid #ddd;

    .title-area h1 {
        text-transform: uppercase;
    }

    a:hover {
        text-decoration: none;
    }
}
#next-events {
    a.event {
        display: inline-block;
        width: 100%;
        background-color: #fdfdfd;
        min-height: rem-calc(64px);
        border: 1px solid #fff;
        box-shadow: rgba(0,0,0,.4) 0 0 4px -1px;
        padding: rem-calc(2px) rem-calc(4px);
        color: #888;

        &:hover,
        &:focus {
            background-color: #41a3c2;
            color: #fff;
            text-decoration: none;
        }
    }

}

#more-events {
    display: none;
}

.entry img {
    margin: rem-calc(15px);
    margin-right: 0;
}

@media #{$topbar-media-query} {
    #logobtn {
        display: block;
        width: 70px;
        height: 70px;
        background-color: #a30302;
        background-image: url(../img/btn.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        box-shadow: rgba(0,0,0,.4) 1px 1px 2px -1px;
        position: absolute;
        top: 0px;
        left: rem-calc(15px);
        z-index: 10;
        cursor: pointer;
    }
    nav {
        border-bottom: none;

        .title-area {
            display: none;
        }
    }

    #next-events {
        margin-top: 2em;
    }

    #more-events {
        display: block;
        text-align: center;
    }
}
