extends layouts/main

block content
  section#index
    .row
      .columns.large-3.large-push-9
        if events
          ul#next-events.show-for-large-up.large-block-grid-1
            for event in events
              li
                a.event(href="/events/"+event.id)
                  = moment(event.start).format('Do MMMM')
                  br
                  = event.title

          #eventwrapper.hide-for-large-up
            #eventscroller
              ul#next-events
                for event in events
                  li
                    a.event(href="/events/"+event.id)
                      = moment(event.start).format('Do MMMM')
                      br
                      = event.title

        if projects
          ul#next-projects.small-block-grid-1
            for project in projects
              li
                a.project(href="/projects/"+project._id)
                  p
                    = project.title
                    br
                    = shortdate(project.end)


      .large-9.columns.large-pull-3
        if active_user
          #activities

        else
          #news
            for post in posts
              article.post
                header
                  h1
                    a(href='/forum/'+post._id)= post.title
                  .meta
                    .row
                      .columns
                        span.byline
                          a(href="/users/" + post.creator._id)= post.creator.name
                        time.created(datetime=post.created)= shortdate(post.created)
                        for tag in post.tags
                          if tag != news_tag
                            a(href="/forum/t/"+tag)
                              i.fa.fa-link
                                | &nbsp;
                                = tag
              .content
                .row
                  .columns
                    != marked(post.mdtext)

  script#activity-template(type="text/ractive")
    .row
      .columns
        ul
          | {{#activities}}
          li
            h2
              | {{#content_type == "upload"}}
              a(href='/files/{{content_id}}')
                | {{title}} ({{content_type}})
              | {{/content_type}}
              | {{#content_type == "forum"}}
              a(href='/forum/{{content_id}}')
                | {{title}} ({{content_type}})
              | {{/content_type}}
            .row
              .small-5.medium-4.columns
                | {{ago(modified)}}
              .small-7.medium-8.columns.contributors
                | {{#users}}
                | {{#profile_picture_path}}
                img(src="{{profile_picture_path}}" alt="{{name}}" title="{{name}}")
                | {{/profile_picture_path}}
                | {{^profile_picture_path}}
                img(src="/img/user.svg" alt="{{name}}" title="{{name}}")
                | {{/profile_picture_path}}
                | {{/users}}
          | {{/activities}}

block javascript
  script
    | require('s7n').base.indexView(
    != JSON.stringify(activities)
    | );

    | $('.chosen-permissions').chosen();
    | var eventscroll = new IScroll('#eventwrapper', { eventPassthrough: true, scrollX: true, scrollY: false, mouseWheel: true });
