extends layouts/main

block content
  section#index
    .row
      .large-3.columns.large-push-9
        ul#next-events.small-block-grid-4.large-block-grid-1
          li
            a.event Event #1
          li
            a.event Event #2
          li
            a.event Event #3
          li
            a.event Event #4

        #more-events
          a(href="/aktiviteter") Flere aktiviteter

      .columns
        ul
          for activity in activities
            li
              h2
                if activity.content_type == "forum"
                  a(href='/forum/'+activity.content_id)
                    = activity.title
                    | &nbsp; (
                    = activity.content_type
                    | )
              for user in activity.users
                img(src=user.profile_picture_path style="height: 40px; width: 40px;")

      .large-9.columns.large-pull-3.entry
        h1 Magiske Toner - en Disneykonsert
        .text
          p
            img(src="http://nidarholm.no/files/get/5164/5" style="float:right")
          p.
            Musikkforeningen Nidarholm  inviterer til en magisk aften på Rosenborg skole under ledelse av Stian E. Svendsen.</p>
          p.
            Ensemblet vil denne kvelden spille musikk fra Disney, med blant annet Natt på Bloksberg fra Fantasia, filmmusikken til Pirates of the Car~
          p.
            Til denne konserten er vi gjestet av Åsvang og Eberg Skolekorps som spiller filmmusikk fra Star Wars, Limelight, Indiana Jones og Blues B~
          p.
            Dette blir en konsert med gamle Disney-klassikere, nyere filmmusikk og kostymer – en konsert som passer for hele familien!</p>
          p.
            Billetter kan kjøpes på forhånd <a href="https://nidarholm.hoopla.no/sales/magiske_toner/">fra denne linken</a> eller fra korpsets medlem~
          p.
            Velkommen til konsert på Rosenborg skole, <strong>lørdag 9. november kl 17</strong>!</p>

        #chosen
            h1 Testing chosen

            form
                select.chosen-permissions(name="permissions" data-placeholder="Velg rettigheter" multiple)
                    optgroup(label="Alle")
                        option(value="p") Verden
                    optgroup(label="Grupper")
                        option(value="g-11") Medlemmer
                        option(value="g-12") Styret
                        option(value="g-13") Info
                        option(value="g-14") Valgkomite
                        option(value="g-15") Treblås
                        option(value="g-16") Fagott
                    optgroup(label="Personer")
                        option(value="u-21") Sigurd
                        option(value="u-22") Jørgen
                button Send

        #ractive

  script#tmpl-test(type="text/ractive")
    input(placeholder="ractive" value="{{text}}")
    p.
      What she said, {{text}}

block javascript
  script.
    require('s7n').base.indexView();

    $('.chosen-permissions').chosen();
