extends layouts/main

block content
  #register-modal.reveal-modal(data-reveal)
    a.close-reveal-modal &#215;

  #reset-password-modal.reveal-modal(data-reveal)
    a.close-reveal-modal &#215;

  section#login
    .row
      .medium-6.medium-centered.columns
        form(method="post")
          .row
            .small-12.columns
              h2 Logg inn
          .row
            .small-12.columns.float-labels
              label(for="username") E-post eller brukernavn
              input(type="text" placeholder="user@example.com" id="username" name="username" required)
          .row
            .small-12.columns.float-labels
              label(for="password") Passord
              input(type="password" placeholder="Password" id="password" name="password" required pattern="^\\S+")
          .row
            .small-12.columns
              input#remember_me(type="checkbox" name="remember_me" checked)
              label(for="remember_me") Forbli pålogget
          .row
            .small-12.columns
              button.small(type="submit") Logg inn
              | &nbsp;
              a(href="/login/reset") Nullstill passord
    .row
      .medium-6.medium-centered.columns.text-center
        | - 
        | ELLER
        |  -
  section#register

  script#register-modal-template(type="text/ractive")
    form#register-form(method="post" action="/register" data-abide)
      .row
        .small-12.columns
          h2 Registrer deg
      .row
        .small-12.columns.float-labels
          label(for="email") E-post
          input(type="text" placeholder="user@example.com" id="email" name="email" required value="{{email}}")
          small.error E-post er nødvendig og trengs for å nullstille passord
      .row
        .small-12.columns.float-labels
          label(for="name") Navn
          input(type="text" placeholder="Fullt navn" id="name" name="name" required)
          small.error Navn er nødvendig
      .row
        .small-12.columns.float-labels
          label(for="password1") Passord
          input(type="password" placeholder="Passord" id="password1" name="password1" required)
          small.error Passord må være minst åtte tegn langt, og inneholde tall og små og store bokstaver
      .row
        .small-12.columns.float-labels
          label(for="password2") Bekreft passord
          input(type="password" placeholder="Passord" id="password2" name="password2" required data-equalto="password1")
          small.error Må skrives likt som passordet over
      .row
        .small-12.columns
          button.small(type="submit") Registrer deg

  script#reset-password-modal-template(type="text/ractive")
    | {{#error}}
    .row
      .columns
        .alert-box.alert
          | {{error}}
    | {{/error}}

    | {{#warning}}
    .row
      .columns
        .alert-box.warning
          | {{warning}}
    | {{/warning}}

  script#register-template(type="text/ractive")
    .row
      .medium-6.medium-centered.columns
        form(on-submit="registerEmail" data-abide)
          .row
            .small-12.columns
              h2 Registrer deg
          .row
            .small-12.columns.float-labels
              label(for="email") E-post
              input(type="text" placeholder="user@example.com" id="email" name="email" required value="{{email}}")
              small.error E-post er nødvendig og trengs for å nullstille passord
          .row
            .small-12.columns
              button.small(type="submit") Registrer deg

block javascript
  script
    | require('s7n').base.registerView();
