@charset "UTF-8";

// our fonts
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), url(/fonts/Merriweather-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url(/fonts/Merriweather-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url(/fonts/Merriweather-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url(/fonts/Merriweather-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(/fonts/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/fonts/OpenSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/fonts/OpenSans-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/fonts/OpenSans-Italic.ttf) format('truetype');
}

$sans-font: "Open Sans", sans-serif;
$serif-font: "Merriweather", serif;

// our variables
@import "settings";

// normalize lib
@import "normalize";

// foundation lib
@import "foundation";

$dark-orange: #f2784b;

/* foundation ++ */
@media #{$medium-up} {
    .medium-right {
        float: right;
    }
    .medium-left {
        float: left;
    }
}

@media #{$small-only} {
    label.inline {
        margin: 0;
    }
}

// our styles
body {
    background: #f5f5f5;
}

h1 {
    font-family: $sans-font;
    //font-style: italic;
    margin: rem-calc(5px 0 10px 0);
    line-height: 1.2;
    color: #999999;
    font-weight: normal;
}

h2, h3 {
    font-family: $sans-font;
    font-weight: normal;
}
h3 {
    font-weight: normal;
}

#upcoming-activities {
    margin-top: -1px;
    margin-bottom: 0;
}

.phone {
    white-space: pre;
}
.button {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
        -ie-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;
                border: none;
}
.button:hover {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.success {
    color: $success-color;
}

@media #{$medium-up} {
    #submenu {
        position: absolute;
        top: rem-calc(30px);
        right: 0;
    }
}

.ace_editor {
    border: rem-calc(2) solid $hr-border-color;
    min-height: 20rem;
    margin-bottom: 1rem;
}

[data-abide] .float-labels,
.float-labels {
    label {
        font-size: rem-calc(12);
        position: absolute;
        top: 0;
        margin: 0;
    }

    small.error {
        margin-top: -1rem;
        color: $alert-color;
        background: transparent;
        padding-left: 0;
    }

    &.error {
        input,
        textarea,
        select {
            border-bottom-color: $alert-color;
        }
    }

    input,
    textarea,
    select {
        font-size: 1rem;
        border: none;
        border-bottom: rem-calc(2) solid $hr-border-color;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0;
        height: 2rem;
        margin-top: rem-calc(14);
        margin-bottom: 1rem;
        background-color: transparent;

        &:focus {
            -webkit-box-shadow: none;
            box-shadow: none;
            background-color: transparent;
            border-bottom-color: $primary-color;
        }

        &:required:focus {
            border-bottom-color: $warning-color;
        }

        &:focus + label {
            color: $primary-color;
        }

        &:required + label:after {
            content: " *";
            color: $dark-orange;
        }
    }
}

.pagination a,
.pagination a:hover,
.pagination a:active {
    text-decoration: none;
}

.dtborder:before {
    content: "";
    display: block;
    box-sizing: content-box;
    border-top: 2px solid $hr-border-color;
    border-bottom: 1px solid $hr-border-color;
    margin: rem-calc(15px 0);
    background-color: #fff;
    height: 1px;
}

#eventwrapper {
    height: 100px;
    width: 100%;
    overflow: hidden;
    position: relative;

    #eventscroller {
        position: absolute;
        height: 80px;
        width: 2400px;
        transform: translateZ(0);

        ul {
            list-style: none;
            width: 100%;
            padding: 0;
            margin: 0;

            li {
                height: 80px;
                width: 120px;
                float: left;
                margin: 2px 18px 18px 2px;
            }
        }
    }
}

#next-events,
#next-projects {
    a.project,
    a.event {
        display: inline-block;
        width: 100%;
        background-color: #fdfdfd;
        min-height: rem-calc(64px);
        border: 1px solid #fff;
        box-shadow: rgba(0,0,0,.4) 0 0 4px -1px;
        padding: rem-calc(2px) rem-calc(4px);
        color: #888;

        &:hover,
        &:focus {
            background-color: $primary-color;
            color: #fff;
            text-decoration: none;
        }
    }

}

#more-events {
    text-align: center;
}

.entry img {
    margin: rem-calc(5px) 0 rem-calc(5px) rem-calc(15px);
    width: 33%;
    float: right;
}
@media #{$small-only} {
    .entry img {
        width: 100%;
        float: none;
        margin: rem-calc(5px) 0;
    }
}

@media #{$topbar-media-query} {
    #logobtn {
        display: block;
        width: 70px;
        height: 70px;
        background-color: $primary-color;
        background-image: url(../img/btn.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        box-shadow: rgba(0,0,0,.4) 1px 1px 2px -1px;
        position: relative;
        top: 0;
        z-index: 10;
        cursor: pointer;
    }

    nav.top-bar {
        border-bottom: none;

        .title-area .name {
            display: none;
        }
    }

}

#forum,
#news,
#projects {
    table {
        table-layout: auto;
    }
    textarea {
        height: 2rem;
        min-height: 2rem;
    }

    .meta {
        border-top: 1px solid $hr-border-color;
        padding-top: rem-calc(2px);
        font-size: rem-calc(12px);
        font-family: $serif-font;
        margin-bottom: 1em;

        a {
            color: $body-font-color;
            text-transform: uppercase;
        }

        time.created {
            font-weight: 300;
        }

        .location {
            font-weight: bold;
        }

        i.fa {
            margin-left: 0.5em;
            //color: $hr-border-color;
            transition: color 300ms;

            &:hover {
                color: $body-font-color;
                transition: color 300ms;
            }
        }
    }

    .content {
        font-family: $serif-font;
        line-height: 1.4;

        h1 {
            font-family: $body-font-family;
            font-style: normal;
            font-size: $h1-font-size - rem-calc(16px);
        }
        h2 { font-size: $h2-font-size - rem-calc(12px); }
        h3 { font-size: $h3-font-size - rem-calc(5px); }
        h4 { font-size: $h4-font-size - rem-calc(3px); }
    }

    article {
        span,
        time {
            margin-right: 1em; /* want some air since jade strips spaces */
        }
    }

    .getmore {
        display: inline-block;
        margin-bottom: 1rem;
    }

    #mdpreview {
        border: rem-calc(2) solid $hr-border-color;
        height: 20rem;
        padding: 0.5rem;
        overflow: auto;
    }

    #replies {
        .highlight:hover {
            .meta i.fa {
                color: $primary-color;
            }
        }
    }
}
@media #{$small-only} {
    #forum {
        span.created {
            display: none;
        }
    }
}
#piece {
    .drop {
        padding: 2rem;
        border: 4px dashed $hr-border-color;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
    }
}
#files {
    #drop {
        padding: 2rem;
        border: 4px dashed $hr-border-color;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
    }
    h2 {
        margin: 0;
        font-size: rem-calc(18px);
    }
    select {
        height: inherit;
        background: inherit;
    }
    .meta {
        border-top: 1px solid $hr-border-color;
        padding-top: rem-calc(2px);
        font-size: rem-calc(12px);
        font-family: $serif-font;
        margin-bottom: 1em;

        a {
            color: $body-font-color;
            text-transform: uppercase;
        }

        time.created {
            font-weight: 300;
        }

        i.fa {
            margin-left: 0.5em;
            color: $hr-border-color;
            transition: color 300ms;

            &:hover {
                color: $body-font-color;
                transition: color 300ms;
            }
        }
    }
    .tags {
        font-size: rem-calc(13px);
        a {
            margin-right: 8px;
        }
    }
    .count {
        color: $hr-border-color;
        float: right;
    }
}

#file {
    img#image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    span.type {
        margin-left: 10px;
    }
    span#tags {
        i {
            margin-left: 8px;
            margin-right: 3px;
        }
    }
}

#profile-pictures {
    #upload {
        padding: 2rem;
        border: 4px dashed $hr-border-color;
        margin-bottom: 1rem;
    }
    .active .th {
        -webkit-box-shadow: 0 0 0 2px $warning-color;
        box-shadow: 0 0 0 2px $warning-color;
    }
}

.for_admin {
    background-color: scale-color($primary-color, $lightness: 95%);
}

#groups {
    #all_groups {
        margin: 0;
        li {
            list-style: none;
            i {
                margin: 0 0 0 0.5rem;
                font-size: 1.2rem;
            }
        }
    }
    #instrument_groups {
        margin: 0;
        li {
            list-style: none;
            i {
                font-size: 1.2rem;
            }
        }
    }
}

#login,
#register {
    form {
        border: rem-calc(3px) solid $hr-border-color;
        margin: 1rem 0 ;
        padding: 0 1rem;
    }
}

#activities {
    list-style: none;
    margin-left: 0;

    [class*="block-grid-"] > li {
        padding: 0.4rem 0.625rem;
    }

    .activity {
        margin-bottom: rem-calc(25px);
    }

    h2 {
        font-style: normal;
        margin-bottom: 0;
        i {
            color: #999999;
        }
    }
    p {
        margin-bottom: 0;
    }
    .contributors {
        margin-top: 5px;
        height: 40px;
        overflow: hidden;
        img {
            float: left;
            height: 40px;
            width: 40px;
        }
        .changes {
            line-height: 1.5;
            padding-left: 5px;
            color: $grey-color;
            font-size: rem-calc(13px);
            .updates,
            .last,
            .tags {
                padding-left: 5px;
            }
        }
        span.image {
            position: relative;

            span {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 0.75rem;
                padding: 0;
                margin: 0;
                background-color: rgba(255, 255, 255, 0.6);
            }
        }
    }
}
article.project {
    margin-top: rem-calc(15px);
}
#projects,
#project,
#event {
    .meta {
        border-top: 1px solid $hr-border-color;
        padding-top: rem-calc(2px);
        font-size: rem-calc(12px);
        font-family: $serif-font;
        margin-bottom: 1em;

        a {
            color: $body-font-color;
            text-transform: uppercase;
        }

        i.fa {
            margin-left: 0.5em;
            //color: $hr-border-color;
            transition: color 300ms;

            &:hover {
                color: $body-font-color;
                transition: color 300ms;
            }
        }
    }
    .content {
        font-family: $serif-font;
        line-height: 1.4;

        h1 {
            font-family: $body-font-family;
            font-style: normal;
            font-size: $h1-font-size - rem-calc(16px);
        }
        h2 { font-size: $h2-font-size - rem-calc(12px); }
        h3 { font-size: $h3-font-size - rem-calc(5px); }
        h4 { font-size: $h4-font-size - rem-calc(3px); }
    }

    #uploaded {
        background-color: scale-color($secondary-color, $lightness: 50%);
        li a {
            margin-bottom: 0;
            &.button {
                width: 100%;
            }
        }
    }
}
#events,
#event {
    .daypage {
        float: left;
        width: rem-calc(75);
        padding-right: rem-calc(5);
        margin-bottom: rem-calc(5);
        text-align: center;
        background-color: #fff;
        line-height: 1;
        font-family: $serif-font;
        .month {
            font-size: rem-calc(11);
            background-color: $hr-border-color;
            padding: rem-calc(4) 0;
        }
        .day {
            line-height: 1.9rem;
            font-size: rem-calc(26);
        }
    }
    h2 {
        font-size: $h2-font-size - rem-calc(6);
    }
    .meta {
        margin-top: -0.4rem;
        font-size: rem-calc(12);
        font-family: $serif-font;
        margin-bottom: 1em;
        line-height: 1.3;
        border-top: 1px solid $hr-border-color;

        a {
            color: $body-font-color;
            text-transform: uppercase;
        }

        time {
            font-weight: 300;
            white-space: nowrap;
        }

        i.fa {
            margin-left: 0.5em;
            color: $hr-border-color;
            transition: color 300ms;

            &:hover {
                color: $body-font-color;
                transition: color 300ms;
            }
        }
    }
}

span.permissions {
    .public {
        color: $primary-color;
    }

    .members {
        color: $success-color;
    }

    .private {
        color: $alert-color;
    }
}

.red {
    color: $alert-color;
}
.unimportant {
    color: $hr-border-color;
}

#memberlist .row {
    margin-bottom: rem-calc(10px);
}
@media #{$large-up} {
    #memberlist .row {
        margin-bottom: 0;
    }
}

#contact {
    figure {
        margin: 0;
    }
}

#results {
    .result {
        a.edit {
            float: left;
            margin-right: 5px;
        }
    }
}

@media #{large-up} {
    .group {
        .member {
            .columns {
                margin-bottom: rem-calc(5px);
                line-height: 1;
            }
        }
    }
}

#internal-external-editor-chooser {
    position: relative;
    dl.sub-nav {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }
}

.select2-container {
    margin: 0 0 1rem 0;
}

.select2-search-choice div {
    padding: 5px 0;
}
.select2-search-choice-close {
    top: 7px;
}

.dropzone {
    min-height: 100px;
}
.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload,
.dropzone .dz-default.dz-message,
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark,
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
    background-image: none;
}

.CodeMirror,
.CodeMirror-scroll {
    min-height: 100px;
}


section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

.main h2 {
    border-top: 1px solid #dddddd;
    margin-top: 2rem;
    padding-top: 1rem;
}

.flex-menu {
    a {
        padding: 1rem;
        font-size: 1.2rem;
    }
}
.flex-menu-mobile {
    display: none;
}
.giant-image-text {
    font-size: 3rem;
}
@media all and (max-width: 700px) {
    .giant-image-text {
        font-size: 1.5rem;
    }
    .flex-menu {
        flex-direction: column;
        &> div {
            flex-direction: column;
            a {
                min-width: 270px;
                width: 100%;
            }
        }
    }
    .flex-menu-mobile {
        display: block;
    }
    .flex-menu-desktop {
        display: none;
    }
    .flex-menu-handler {
        display: block;
    }
}
