@charset "UTF-8";

// our fonts
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), url(/fonts/Merriweather-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url(/fonts/Merriweather-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url(/fonts/Merriweather-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url(/fonts/Merriweather-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(/fonts/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/fonts/OpenSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/fonts/OpenSans-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/fonts/OpenSans-Italic.ttf) format('truetype');
}

@import 'node_modules/sass-material-colors/sass/sass-material-colors';

$sans-font: "Open Sans", sans-serif;
$serif-font: "Merriweather", serif;
$rem-base: 14px;
$line-height: 150%;

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: $sans-font;
    color: material-color('grey', '900');
    background: #f5f5f5;
    font-size: $rem-base;
    line-height: $line-height;
}

a {
    color: material-color('light-blue', '900');
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

img {
    border: none;
    &.responsive {
        width: 100%;
    }
}

h1 {
    font-family: $serif-font;
    font-size: 28px;
}

h2 {
    font-family: $serif-font;
    font-size: 22px;
}
h3 {
    font-family: $sans-font;
    font-size: 18px;
}

.phone {
    white-space: pre;
}
.button {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
        -ie-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;
                border: none;
}
.button:hover {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.dropzone {
    min-height: 100px;
}
.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload,
.dropzone .dz-default.dz-message,
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark,
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
    background-image: none;
}

.CodeMirror,
.CodeMirror-scroll {
    min-height: 100px;
}

section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1px 16px;
}
.row {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1px 16px;
}

.home h2 {
    border-top: 1px solid material-color('grey', '300');
    margin-top: 2rem;
    padding-top: 1rem;
}

.flex-menu {
    a {
        padding: 1rem;
    }
}
.flex-menu-mobile {
    display: none;
}
.giant-image-text {
    font-size: 3rem;
}
@media all and (max-width: 1200px) {
    .giant-image-text {
        font-size: 1.5rem;
    }
    .flex-menu {
        &> div {
            flex-direction: column;
            a {
                width: 100%;
            }
        }
    }
    .flex-menu-mobile {
        display: flex;
        align-items: center;
    }
    .flex-menu-desktop {
        display: none;
    }
    .flex-menu-handler {
        display: block;
    }
}

nav a {
    color: white;
    &:link {
        color: white;
    }
    &:hover {
        color: white;
    }
    &:active {
        color: white;
    }
    &:visited {
        color: white;
    }
}

.shade {
    color: material-color('grey', '600');
    a {
        color: material-color('grey', '600');
    }
}

.draggable {
    &:hover {
        background-color: material-color('grey', '200');
    }
}

#eventList {
    font-size: 12px;
    ul {
        padding-left: 20px;
    }
}
@media screen and (max-width: 700px) {
    .small-narrow {
        flex-direction: column;
    }
}
