@charset "UTF-8";

// our fonts
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), url(/fonts/Merriweather-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url(/fonts/Merriweather-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url(/fonts/Merriweather-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url(/fonts/Merriweather-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(/fonts/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/fonts/OpenSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/fonts/OpenSans-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/fonts/OpenSans-Italic.ttf) format('truetype');
}

$sans-font: "Open Sans", sans-serif;
$serif-font: "Merriweather", serif;

// our variables
@import "settings";

// normalize lib
@import "normalize";

// foundation lib
@import "foundation";


// font-awesome
@import "font-awesome";

$dark-orange: #f2784b;

/* foundation ++ */
@media #{$medium-up} {
    .medium-right {
        float: right;
    }
    .medium-left {
        float: left;
    }
}

@media #{$small-only} {
    label.inline {
        margin: 0;
    }
}

// our styles
html {
    min-height: 100%;
    background: #fff;
}

body {
    -webkit-font-smoothing: antialiased;
    border-top: 5px solid $primary-color;
}

h1 {
    font-family: $serif-font;
    font-style: italic;
    margin: rem-calc(0 0 10px 0);
    line-height: 1.2;
}

h2 {
    font-family: $serif-font;
}

.button {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
        -ie-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;
                border: none;
}
.button:hover {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

#submenu {
    position: absolute;
    top: rem-calc(30px);
    right: 0;
}

.ace_editor {
    border: rem-calc(2) solid $hr-border-color;
    min-height: 20rem;
    margin-bottom: 1rem;
}

[data-abide] .float-labels,
.float-labels {
    label {
        font-size: rem-calc(12);
        position: absolute;
        top: 0;
        margin: 0;
    }

    small.error {
        margin-top: -1rem;
        color: $alert-color;
        background: transparent;
        padding-left: 0;
    }

    &.error {
        input,
        textarea,
        select {
            border-bottom-color: $alert-color;
        }
    }

    input,
    textarea,
    select {
        font-size: 1rem;
        border: none;
        border-bottom: rem-calc(2) solid $hr-border-color;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0;
        height: 2rem;
        margin-top: rem-calc(14);
        margin-bottom: 1rem;
        background-color: transparent;

        &:focus {
            -webkit-box-shadow: none;
            box-shadow: none;
            background-color: transparent;
            border-bottom-color: $primary-color;
        }

        &:required:focus {
            border-bottom-color: $warning-color;
        }

        &:focus + label {
            color: $primary-color;
        }

        &:required + label:after {
            content: " *";
            color: $dark-orange;
        }
    }
}

.pagination a,
.pagination a:hover,
.pagination a:active {
    text-decoration: none;
}

.dtborder:before {
    content: "";
    display: block;
    box-sizing: content-box;
    border-top: 2px solid $hr-border-color;
    border-bottom: 1px solid $hr-border-color;
    margin: rem-calc(15px 0);
    background-color: #fff;
    height: 1px;
}

footer {
    font-size: rem-calc(12px);
    font-weight: 300;
    margin-top: 2rem;
    line-height: 1.4;

    i.fa {
        min-width: 1rem;
    }

    .bystrekmann {
        border-top: 1px solid $hr-border-color;
        margin-top: rem-calc(15px);
        padding-top: rem-calc(7px);
        text-align: center;
    }

    p {
        display: inline;
        font-size: inherit;
    }
}

#flash .alert {
    margin: rem-calc(12px) 0 0 0;
    .close {
        padding-top: 0;
    }
}

#logobtn {
       display: none;
}

nav.top-bar {
    border-bottom: 1px solid $hr-border-color;

    .title-area h1 {
        text-transform: uppercase;
    }

    a:hover {
        text-decoration: none;
    }
}

#eventwrapper {
    height: 100px;
    width: 100%;
    overflow: hidden;
    position: relative;

    #eventscroller {
        position: absolute;
        height: 80px;
        width: 2400px;
        transform: translateZ(0);

        ul {
            list-style: none;
            width: 100%;
            padding: 0;
            margin: 0;

            li {
                height: 80px;
                width: 120px;
                float: left;
                margin: 2px 18px 18px 2px;
            }
        }
    }
}

#next-events,
#next-projects {
    a.project,
    a.event {
        display: inline-block;
        width: 100%;
        background-color: #fdfdfd;
        min-height: rem-calc(64px);
        border: 1px solid #fff;
        box-shadow: rgba(0,0,0,.4) 0 0 4px -1px;
        padding: rem-calc(2px) rem-calc(4px);
        color: #888;

        &:hover,
        &:focus {
            background-color: $primary-color;
            color: #fff;
            text-decoration: none;
        }
    }

}

#more-events {
    display: none;
}

.entry img {
    margin: rem-calc(5px) 0 rem-calc(5px) rem-calc(15px);
    width: 33%;
    float: right;
}
@media #{$small-only} {
    .entry img {
        width: 100%;
        float: none;
        margin: rem-calc(5px) 0;
    }
}

@media #{$topbar-media-query} {
    #logobtn {
        display: block;
        width: 70px;
        height: 70px;
        background-color: $primary-color;
        background-image: url(../img/btn.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        box-shadow: rgba(0,0,0,.4) 1px 1px 2px -1px;
        position: relative;
        top: 0;
        z-index: 10;
        cursor: pointer;
    }

    nav.top-bar {
        border-bottom: none;

        .title-area .name {
            display: none;
        }
    }

}

#forum,
#news {
    textarea {
        height: 2rem;
        min-height: 2rem;
    }

    .meta {
        border-top: 1px solid $hr-border-color;
        padding-top: rem-calc(2px);
        font-size: rem-calc(12px);
        font-family: $serif-font;
        margin-bottom: 1em;

        a {
            color: $body-font-color;
            text-transform: uppercase;
        }

        time.created {
            font-weight: 300;
        }

        i.fa {
            margin-left: 0.5em;
            //color: $hr-border-color;
            transition: color 300ms;

            &:hover {
                color: $body-font-color;
                transition: color 300ms;
            }
        }
    }

    .content {
        font-family: $serif-font;
        line-height: 1.4;

        h1 {
            font-family: $body-font-family;
            font-style: normal;
            font-size: $h1-font-size - rem-calc(16px);
        }
        h2 { font-size: $h2-font-size - rem-calc(12px); }
        h3 { font-size: $h3-font-size - rem-calc(5px); }
        h4 { font-size: $h4-font-size - rem-calc(3px); }
    }

    article {
        span {
            margin-right: 1em; /* want some air since jade strips spaces */
        }
    }

    .getmore {
        display: inline-block;
        margin-bottom: 1rem;
    }

    #mdpreview {
        border: rem-calc(2) solid $hr-border-color;
        height: 20rem;
        padding: 0.5rem;
        overflow: auto;
    }

    #replies {
        .highlight:hover {
            .meta i.fa {
                color: $primary-color;
            }
        }
    }
}
@media #{$small-only} {
    #forum {
        span.created {
            display: none;
        }
    }
}
#files {
    #drop {
        padding: 2rem;
        border: 4px dashed $hr-border-color;
        margin-bottom: 1rem;
    }
    h2 {
        margin: 0;
        font-size: rem-calc(18px);
    }
    select {
        height: inherit;
        background: inherit;
    }
    .meta {
        border-top: 1px solid $hr-border-color;
        padding-top: rem-calc(2px);
        font-size: rem-calc(12px);
        font-family: $serif-font;
        margin-bottom: 1em;

        a {
            color: $body-font-color;
            text-transform: uppercase;
        }

        time.created {
            font-weight: 300;
        }

        i.fa {
            margin-left: 0.5em;
            color: $hr-border-color;
            transition: color 300ms;

            &:hover {
                color: $body-font-color;
                transition: color 300ms;
            }
        }
    }
}

#file {
    img#image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

#profile-pictures {
    #upload {
        padding: 2rem;
        border: 4px dashed $hr-border-color;
        margin-bottom: 1rem;
    }
    .active .th {
        -webkit-box-shadow: 0 0 0 2px $warning-color;
        box-shadow: 0 0 0 2px $warning-color;
    }
}

#groups {
    #all_groups {
        margin: 0;
        li {
            list-style: none;
            i {
                margin: 0 0 0 0.5rem;
                font-size: 1.2rem;
            }
        }
    }
    #instrument_groups {
        margin: 0;
        li {
            list-style: none;
            i {
                font-size: 1.2rem;
            }
        }
    }
}

#login {
    form {
        border: rem-calc(3px) solid $hr-border-color;
        margin: 1rem 0 ;
        padding: 0 1rem;
    }
}

#activities {
    list-style: none;
    margin-left: 0;
    h2 {
        font-size: 1.4rem;
        margin-top: 1.4rem;
    }
    p {
        margin-bottom: 0;
    }
    .contributors {
        margin-top: 5px;
        height: 40px;
        overflow: hidden;
        img {
            float: left;
            height: 40px;
            width: 40px;
        }
        .last {
            line-height: 1.2;
            padding-left: 5px;
            color: $grey-color;
        }
    }
}
#projects,
#project,
#event {
    .meta {
        border-top: 1px solid $hr-border-color;
        padding-top: rem-calc(2px);
        font-size: rem-calc(12px);
        font-family: $serif-font;
        margin-bottom: 1em;

        a {
            color: $body-font-color;
            text-transform: uppercase;
        }

        i.fa {
            margin-left: 0.5em;
            //color: $hr-border-color;
            transition: color 300ms;

            &:hover {
                color: $body-font-color;
                transition: color 300ms;
            }
        }
    }
    .content {
        font-family: $serif-font;
        line-height: 1.4;

        h1 {
            font-family: $body-font-family;
            font-style: normal;
            font-size: $h1-font-size - rem-calc(16px);
        }
        h2 { font-size: $h2-font-size - rem-calc(12px); }
        h3 { font-size: $h3-font-size - rem-calc(5px); }
        h4 { font-size: $h4-font-size - rem-calc(3px); }
    }

    #uploaded {
        background-color: scale-color($secondary-color, $lightness: 50%);
        li a {
            margin-bottom: 0;
            &.button {
                width: 100%;
            }
        }
    }
}
#events {
    .meta {
        border-top: 1px solid $hr-border-color;
        padding-top: rem-calc(2px);
        font-size: rem-calc(12px);
        font-family: $serif-font;
        margin-bottom: 1em;

        a {
            color: $body-font-color;
            text-transform: uppercase;
        }

        time {
            font-weight: 300;
        }

        i.fa {
            margin-left: 0.5em;
            color: $hr-border-color;
            transition: color 300ms;

            &:hover {
                color: $body-font-color;
                transition: color 300ms;
            }
        }
    }
}

span.permissions {
    .public {
        color: $primary-color;
    }

    .members {
        color: $success-color;
    }

    .private {
        color: $alert-color;
    }
}

#contact {
    figure {
        margin: 0;
    }
}

.group {
    .member {
        .columns {
            margin-bottom: rem-calc(5px);
        }
    }
}

.datetimepicker-close {
    display: none;
}
