extends ../layouts/main

block content
  .row
    .columns.large-8.medium-10.large-centered.medium-centered
      #forum

  script#template(type="text/ractive")
    | {{#is_editing}}
    h1 Rediger innlegg
    form#edit_post
      .row
        .columns
          label(for="title") Tittel
          input#title(type="text" name="title" value="{{post.title}}")
      .row
        .columns
          label(for="mdtext") Innhold
          textarea#mdtext(name="mdtext" on-focus-blur="checkLargeAreaSize") {{post.mdtext}}
      .row
        .columns
          label(for="permissions") Hvem skal kunne se innlegget
          | {{{permission_options() }}}
      .row
        .columns
          label(for="tags") Merkelapper
          input#tags(type="text" name="tags" value="{{post.tags}}")
      .row
        .columns
          button.small(type="submit" on-click="updatePost") Oppdater
          button.secondary.small(type="reset" on-click="toggleEdit") Avbryt
    | {{else}}
    article#post
      header
        h1 {{post.title}}
        .meta
          .row
            .columns.small-9
              span.byline Av 
                a(href="/users/{{post.creator.username}}") {{post.creator.name}}
              time.created(datetime="{{isodate(post.created)}}") {{shortdate(post.created)}}
              | {{#post.tags}}
              a(href="{{taglink(.)}}")
                i.fa.fa-tag
                | &nbsp;{{.}}
              | {{/post.tags}}
            .columns.small-3.text-right.creator
              permissionicons(permissions="{{post.permissions}}")
              a(title="Rediger innlegget" on-click="toggleEdit")
                i.fa.fa-edit
              a(title="Slett innlegget" on-click="deletePost")
                i.fa.fa-trash-o

      .content
        .row
          .columns {{{marked(post.mdtext)}}}
      | {{/is_editing}}

      section#replies.dtborder
        .row
          | {{#if active_user.profile_picture_path}}
          img(src="{{active_user.profile_picture_path}}").columns.small-2
          | {{else}}
          img(src="/img/user.svg").columns.small-2
          | {{/if}}
          .columns.small-10
            form
              label(for="reply") Legg inn en kommentar:
              textarea(name="reply" id="reply" on-focus-blur="checkAreaSize")
              a.tiny.button.right(on-click="addReply") Send

        | {{#post.replies}}
        .row(intro="slide")
          | {{#if .creator.profile_picture_path}}
          img(src="{{.creator.profile_picture_path}}").columns.small-2
          | {{else}}
          img(src="/img/user.svg").columns.small-2
          | {{/if}}
          .columns.small-10
            .highlight
              .meta
                span.byline Av 
                  a(href="/users/{{.creator.username}}") {{.creator.name}}
                |  
                time.created(datetime="{{isodate(created)}}") {{shortdate(.created)}}
                a.right(on-click="deleteReply")
                  i.fa.fa-trash-o
                a.right(title="Endre" on-click="editReply")
                  i.fa.fa-edit
              .content {{{marked(.mdtext)}}}
              form.hide(on-submit="updateReply")
                textarea.mdtext {{{.mdtext}}}
                button.tiny(type="submit") Lagre
                button.tiny.secondary(type="reset" on-click="resetReply") Avbryt

            | {{#comments}}
            .row
              | {{#if .creator.profile_picture_path}}
              img(src="{{.creator.profile_picture_path}}").columns.small-2
              | {{else}}
              img(src="/img/user.svg").columns.small-2
              | {{/if}}
              .columns.small-10
                .highlight
                  .meta
                    span.byline Av 
                      a(href="/users/{{.creator.username}}") {{.creator.name}}
                    |  
                    time.created(datetime="{{isodate(created)}}") {{shortdate(.created)}}
                    a.right(on-click="deleteComment")
                      i.fa.fa-trash-o
                    a.right(title="Endre" on-click="editComment")
                      i.fa.fa-edit
                  .content {{{marked(.mdtext)}}}
                  form.hide(on-submit="updateComment")
                    textarea.mdtext {{{.mdtext}}}
                    button.tiny(type="submit") Lagre
                    button.tiny.secondary(type="reset" on-click="resetComment") Avbryt
            | {{/comments}}
            .row
              | {{#if active_user.profile_picture_path}}
              img(src="{{active_user.profile_picture_path}}").columns.small-2
              | {{else}}
              img(src="/img/user.svg").columns.small-2
              | {{/if}}
              .columns.small-10
                form
                  label Svar:
                  textarea(name="comment" on-focus-blur="checkAreaSize")
                  a.tiny.button.right(on-click="addComment") Send
        | {{/post.replies}}

block javascript
  script
    | var forum = require('s7n').forum.threadView(
    != JSON.stringify(post)
    | ,
    != JSON.stringify(active_user) || "null"
    | );
