[Service]
ExecStart={{ deploy_helper.current_path }}/{{ server_script }}
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{ project_name }}
User={{ project_user }}
Group={{ project_user }}
Environment=NODE_CONFIG_DIR={{ deploy_helper.current_path }}/config
Environment=NODE_ENV=production
Environment=MONGO_URL=mongdb://localhost/nidarholm
Environment=FILE_PATH=/srv/nidarholm/shared/files

[Install]
WantedBy=multi-user.target

[Unit]
After=network.target mongodb.service
