extends ../layouts/main.jade

block content
  .row
    .columns
      h1 Legg til nytt korpsmedlem

  form(method='post')
    .row
      .columns
        label(for='name') Navn
        input#name(type='text' name='name')
    .row
      .columns
        label(for='email') Epost
        input#email(type='text' name='email')
    .row
      .columns
        label(for='instrument') Instrument
        input#instrument(type='text' name='instrument')
    .row
      .columns
        input#orgperm(type='checkbox' checked name='orgperm')
        label(for='orgperm') Gi personen medlemsrettigheter
    .row#grouprow
      .columns
        label(for='group') Gi rettigheter til instrumentgruppe
        select#group(name='group')
          option (Ingen)
          for group in instrument_groups
            option(value=group.id)= group.name
    .row
      .columns
        button Lagre

block javascript
  script.
    $('#orgperm').on('click', function (event) {
      var selected = $(this).is(':checked');
      if (selected) {
        $('#grouprow').show();
      } else {
        $('#grouprow').hide();
      }
    });
