extends ../layouts/main.jade

block content
  .row
    .columns
      h1 Legg til ny instrumentgruppe

  form
    .row
      .columns
        label(for='name') Navn på gruppe
        input#name(type='text')
    .row
      .columns
        button Lagre
