extends ../layouts/main.jade

block content
  section#adduser

  script#template(type="text/ractive")
    .row
      .columns
        h1 Legg til nytt korpsmedlem

    form(method="post")
      .row
        .columns
          label(for="name") Navn
          input#name(type="text" name="name" value="{{name}}" on-keyup="search")
      | {{#if expanded}}
      .row
        .columns
          label(for='email') Epost
          input#email(type='text' name='email')
      .row
        .columns
          label(for='instrument') Instrument
          input#instrument(type='text' name='instrument')
      .row
        .columns
          input#orgperm(type='checkbox' checked name='orgperm')
          label(for='orgperm') Gi personen medlemsrettigheter
      .row#grouprow
        .columns
          label(for='group') Gi rettigheter til instrumentgruppe
          select#group(name='group')
            option (Ingen)
            for group in groups
              option(value=group.id)= group.name
      .row
        .columns
          button Lagre
          button.secondary(type="reset" on-click="toggleExpanded") Avbryt
      | {{else}}
      .row
        .columns
          #results
            | {{#results}}
            .result.clearfix
              a.button.small.edit(href="/users/{{username}}/edit")
                i.fa.fa-edit.fa-lg
              a(href="/users/{{username}}") {{.name}}
              | {{#if .instrument}}
              span ({{.instrument}})
              | {{/if}}
              br
              | {{phoneformat(.phone)}} {{.address}} {{.city}}
              | {{#if .born}}
              span født {{approx_date(.born)}}
              | {{/if}}
              | {{#if .joined}}
              span startet første gang {{approx_date(.joined)}}
              | {{/if}}
            | {{/results}}
            button(on-click="toggleExpanded") Nytt medlem
      | {{/if}}


block javascript
  script.
    $('#orgperm').on('click', function (event) {
      var selected = $(this).is(':checked');
      if (selected) {
        $('#grouprow').show();
      } else {
        $('#grouprow').hide();
      }
    });
    require('s7n').user.addUser();
