extends ../layouts/main

block content
  #groups

  script#template(type="text/ractive")
    .row
      .medium-6.columns
        h1 Alle grupper

        p Klikk i boksene for å gjøre gruppene til instrumentgrupper

        ul#all_groups
          | {{#groups}}
          |   {{>group}}
          | {{/groups}}

      .medium-6.columns
        h1 Instrumentgrupper

        p Klikk i boksene for å ta dem bort fra instrumentgrupper

        ul#instrument_groups
          | {{#igroups}}
          |   {{>igroup}}
          | {{/igroups}}

    form(on-submit="addGroup" data-abide)
      .row
        .columns
          h2 Legg til ny gruppe
      .row
        .columns
          label(for='name') Navn på gruppe
          input#name(type='text' required)
      .row
        .columns.text-right
          button.reset.secondary(type='reset') avbryt
          button lagre

      // {{>group}}
      li.group(style="list-style:none;")
        input(type="checkbox" on-click="addInstrumentGroup")
        a(href="/groups/{{oid}}") {{name}}
      // {{/group}}

      // {{>igroup}}
      li.group(style="list-style:none;" decorator="sortable" on-drop="moveInstrumentGroup")
        input(type="checkbox" on-click="removeInstrumentGroup")
        | {{name}}
      // {{/igroup}}


block javascript
  script
    | var groups = require('s7n').groups.groupListView();
    | groups.set('groups', 
    != JSON.stringify(groups)
    | );
    | groups.set('igroups', 
    != JSON.stringify(igroups)
    | );
