extends ../layouts/main

block content
  #groups

  script#template(type="text/ractive")
    .row
      .medium-6.columns
        h1 Alle grupper

        p Klikk på pilene for å velge hvilke grupper som er instrumentgrupper

        ul#all_groups
          | {{#groups}}
          |   {{>group}}
          | {{/groups}}

      .medium-6.columns
        h1 Instrumentgrupper

        p Klikk på pilene for å ta gruppene ut av medlemslista

        ul#instrument_groups
          | {{#igroups}}
          |   {{>igroup}}
          | {{/igroups}}

    form(on-submit="addGroup" data-abide)
      .row
        .columns
          h2 Legg til ny gruppe
      .row
        .columns
          label(for='name') Navn på gruppe
          input#name(type='text' required)
      .row
        .columns
          button Lagre
          button.reset.secondary(type='reset') Avbryt

    // {{>group}}
    li.text-right.group(style="list-style:none;")
      a(href="/groups/{{oid}}") {{name}}
      | &nbsp;
      i.fa.fa-arrow-circle-right(on-click="addInstrumentGroup")
    // {{/group}}

    // {{>igroup}}
    li.group(style="list-style:none;" decorator="sortable" on-drop="moveInstrumentGroup")
      i.fa.fa-arrow-circle-left(on-click="removeInstrumentGroup")
      | &nbsp;
      | {{name}}
    // {{/igroup}}


block javascript
  script
    | var groups = require('s7n').groups.groupListView();
    | groups.set('groups', 
    != JSON.stringify(groups)
    | );
    | groups.set('igroups', 
    != JSON.stringify(igroups)
    | );
