extends ../layouts/main

block content
  .row
    .columns
      h1 Alle grupper

      ul#groups
        for group in groups
          if group.id
            li.group
              a(href="/groups/" + hoid(group.id))= group.name
