extends ../layouts/main

block submenu
  if is_admin
    li
      a(href="/users") Alle registrerte
    li
      a(href="/groups") Alle grupper
    li
      a(href="/members/new") Legg til medlem
    li
      a(href="/groups") Legg til gruppe

block content
  section

    div.row
      #memberlist.columns
        h1 Instrumentgrupper

        for group in org.instrument_groups
          if group.members.length > 0
            .group(data-id=group.id)
              h2
                if is_admin
                  a(href="/groups/"+group.id)= group.name
                else
                  = group.name
              for member in group.members
                if member && member.user
                  .member.row
                    if active_user && is_member
                      a(href="/users/" + member.user.username).large-4.columns.small-8
                        = member.user.name
                    else
                      .columns.large-4.small-8
                        = member.user.name
                    .large-2.columns.small-4.end
                      = member.user.instrument
                      if member.role && member.role.title
                        = member.role.title
                      else
                        | &nbsp;
                    if active_user && is_member
                      .large-4.columns.small-8.large-push-2
                        a(href="mailto:" + member.user.email)
                          = member.user.email
                      .large-2.columns.small-4.large-pull-4
                        if member.user.phone
                          a(href='tel:'+member.user.phone)
                            = phoneformat(member.user.phone)

block javascript
  script.
    require('s7n').organization.memberlistView();
