extends ../layouts/main

block content
  section
    div.row
      div.columns
        ul.right.side-nav
          li
            a(href="/users") Alle registrerte
          li
            a(href="/groups") Alle grupper
          li
            a(href="/members/new") Legg til medlem
          li
            a(href="/groups") Legg til gruppe

    div.row
      div.small-12.columns#memberlist
        h1 Instrumentgrupper

        for group in org.instrument_groups
          .group(data-id=group.id)
            .row
              .small-11.columns
                h2
                  = group.name
              .small-1.columns
                a.removegroup(href="#")
                  i.fa.fa-minus
            for member in group.members
              if member && member.user
                .member.row
                  a(href="/users/" + member.user.username).medium-4.columns
                    = member.user.name
                  .medium-2.columns
                    if member.role
                      = member.role
                    else
                      | &nbsp;
                  .medium-2.columns
                    = member.user.phone
                  .medium-4.columns
                    a(href="mailto:" + member.user.email)
                      = member.user.email

    div.row
      div.small-12.columns
        #addgroup
          button.new_group.small
            i.fa.fa-plus
          form
            .row
              .columns
                h2 Legg til ny instrumentgruppe
            .row
              .columns
                label(for='name') navn på gruppe
                input#name(type='text')
            .row
              .columns.text-right
                button.reset.secondary(type='reset') avbryt
                button lagre

block javascript
  script.
    require('s7n').organization.memberlistView();
