extends ../layouts/main

block content
  section
    div.row
      div.columns
        ul.right.side-nav
          li
            a(href="/users") Alle registrerte
          li
            a(href="/groups") Alle grupper
          li
            a(href="/members/new") Legg til medlem
          li
            a(href="/groups") Legg til gruppe

    div.row
      div.small-12.columns#memberlist
        h1 Instrumentgrupper

        for group in org.instrument_groups
          .group(data-id=group.id)
            .row
              .columns
                h2
                  = group.name
            for member in group.members
              if member && member.user
                .member.row
                  a(href="/users/" + member.user.username).medium-4.columns
                    = member.user.name
                  .medium-2.columns
                    = member.user.instrument
                    if member.role
                      = member.role
                    else
                      | &nbsp;
                  .medium-2.columns
                    = member.user.phone
                  .medium-4.columns
                    a(href="mailto:" + member.user.email)
                      = member.user.email

block javascript
  script.
    require('s7n').organization.memberlistView();
