extends ../layouts/main

block content
  .row
    .columns
      h1 Alle brukere

      ul#users
        for user in users
          li.user
            a(href="/users/" + user.username)= user.name
            &nbsp;
            =user.username
