module.exports = {
    auth: {
        facebook: {
            clientId: '{{ facebook_client_id }}',
            clientSecret: '{{ facebook_client_secret }}',
            callbackURL: '{{ server_url }}/auth/facebook/callback'
        },
        google: {
            clientId: '{{ google_client_id }}',
            clientSecret: '{{ google_client_secret }}',
            callbackURL: '{{ server_url }}/auth/google/callback'
        },
        twitter: {
            clientId: '{{ twitter_client_id }}',
            clientSecret: '{{ twitter_client_secret }}',
            callbackURL: '{{ server_url }}/auth/twitter/callback'
        },
        smtp: {
            host: '{{ smtp.host }}',
            port: '{{ smtp.port }}',
            auth: {
                user: '{{ smtp.auth.user }}',
                pass: '{{ smtp.auth.pass }}',
            },
            noreplyAddress: '{{ smtp.noreply_address }}',
        },
    },
    express: {
        port: {{ server_port }},
        session: {
            secret: '{{ server_secret }}',
            domain: '{{ server_name }}',
        },
    },
    override: {
        site: '{{ project_name }}',
    },
    paths: {
        files: '/srv/nidarholm/shared/files'
    },
    mongodb: {
        servers: ['mongodb://localhost/{{ project_name }}'],
        replset: null,
    }
}
