extends ../layouts/main

block content
  section#files
    div.row
      div.columns.medium-10.large-8.medium-centered
        form#upload(method="post" action="/files/upload" enctype="multipart/form-data")
          h1 Last opp filer
          input(type="file" name="file" multiple)
          button.small Send

        each file in files
          .row
            .columns.small-2
              if file.is_image
                img(src=file.path)
            .file.columns.small-10
              a(href="/files/" + file.id)
                h2= file.filename
              .meta
                .row
                  .columns.small-9
                    span.byline
                      = shortdate(file.created)
                  .columns.small-3.text-right
                    if file.permissions.public
                      i.fa.fa-globe
                    else if 'medlemmer' in file.permissions.groups
                      i.fa.fa-users
                    else if !file.permissions.public && file.permissions.groups.length === 0 && file.permissions.users.length === 0
                      i.fa.fa-user
                    a.edit(href='#')
                      i.fa.fa-edit
                    i.fa.fa-trash-o
              .tags
                p Merkelapper:
                  = file.tags

  script#template(type="text/ractive")
    .row
      .columns.large-8.medium-10.large-centered.medium-centered
        form#upload(action="/files/upload")
          h1 Last opp filer
          | Dra filer hit, eller klikk for å velge
          .fallback
            input(type="file" name="file" multiple)

        | {{#uploading_files}}
        .file(intro="fade")
          h2 {{name}}
          .progress
            span.meter(style="width: {{uploading.progress}}%")
        | {{/uploading_files}}

        | {{#files}}
        .row
          .small-2.columns
            {{#is_image(.)}}
            img(src="{{path}}")
            {{/is_image}}
          .small-10.columns
            .file(outro="fade")
              a(href="/files/{{_id}}")
                h2 {{filename}}
              .meta
                .row
                  .columns.small-9
                    span.byline
                      a(href="/users/{{creator.username}}") {{creator.name}}
                    time.created(datetime="{{isodate(created)}}") {{shortdate(created)}}
                  .columns.small-3.text-right.creator
                    | {{#is_public(permissions)}}
                    i.fa.fa-globe
                    | {{/is_public}}
                    | {{#is_for_members(this.data.active_organization.member_group, permissions)}}
                    i.fa.fa-users
                    | {{/is_for_group}}
                    | {{#is_unpublished(permissions)}}
                    i.fa.fa-user.alert
                    | {{/is_unpublished}}
                    a.edit(href='#')
                      i.fa.fa-edit
                    i.fa.fa-trash-o
              .tags
                p Merkelapper: {{tags}}
        | {{/files}}

block javascript
  script
    | var ractive = require('s7n').files.fileListView(
    != JSON.stringify(files)
    | ,
    != JSON.stringify(active_user)
    | ,
    != JSON.stringify(organization)
    | );

  script.
    $('.chosen-permissions').chosen({width: '100%'});
