extends ../layouts/main

block content
  section#upload
    div.row
      div.small-12.columns
        h1 Upload file

        form.dropzone(action="/files/upload")
          .fallback
            input(type="file" name="file" multiple)
            //input(type="hidden" name="hiddenfield" value="hiddenvalue")
            //input(type="text" name="visiblefield" value="visiblevalue")

        table#files(style="width:100%")
          tr.file
            td
              strong Filnavn1
            td.text-right
              i.fa.fa-globe
              i.fa.fa-users
              i.fa.fa-user
            td.text-right
              i.fa.fa-edit
              i.fa.fa-trash-o
          tr.file
            td
              strong Filnavn2
            td.text-right
              i.fa.fa-user
            td.text-right
              i.fa.fa-edit
              i.fa.fa-trash-o
          tr.file
            td(colspan="3")
              form
                .row
                  .columns
                    label(for="filename") Filnavn
                    input#filename(type="text" name="filename" placeholder="Filnavn" value="Filnavn 3")
                .row
                  .columns
                    label(for="permissions") Vises for
                    select#permissions.chosen-permissions(name="permissions" data-placeholder="Velg rettigheter" multiple)
                      optgroup(label="Alle")
                          option(value="p") Verden
                      optgroup(label="Grupper")
                          option(value="g-11") Medlemmer
                          option(value="g-12") Styret
                          option(value="g-13") Info
                          option(value="g-14") Valgkomite
                          option(value="g-15") Treblås
                          option(value="g-16") Fagott
                      optgroup(label="Personer")
                          option(value="u-21") Sigurd
                          option(value="u-22") Jørgen
                .row
                  .columns
                    label(for="tags") Merkelapper
                    input#tags(type="text" name="tags" placeholder="musikk,korps")

                .row
                  .columns.text-right
                    button.secondary(type="clear") Avbryt
                    button Lagre

block javascript
  script.
    $('.chosen-permissions').chosen();
