extends ../layouts/main

block content
  section#files
    div.row
      div.columns.medium-10.large-8.medium-centered
        if active_user
          form#upload(method="post" action="/files/upload" enctype="multipart/form-data")
            h1 Last opp filer
            label(for="permissions") Først, velg hvem som skal kunne se filene
            select#permissions(name="permissions" placeholder="Vises bare for meg" multiple)
              +permission_options(active_user.groups, active_user.friends)
            label(for="tags") Det er valgfritt om du vil kategorisere med merkelapper
            input#tags(type="text" name="tags" placeholder="kommaseparert, liste, med, merkelapper")
            input(type="file" name="file")
            button.small send

        each file in files
          .row
            .columns.small-2
              if file.is_image && file.path
                img(src=file.thumbnail_path)
            .file.columns.small-10
              a(href="/files/" + file.id)
                h2= file.filename
              .meta
                .row
                  .columns.small-9
                    span.byline
                      = shortdate(file.created)
                  .columns.small-3.text-right
                    a.edit(href='#')
                      i.fa.fa-edit
                    i.fa.fa-trash-o
              .tags
                p Merkelapper:
                  = file.tags

  script#template(type="text/ractive")
    .row
      .columns.large-8.medium-10.large-centered.medium-centered
        if active_user
          form#upload(action="/files/upload")
            h1 Last opp filer
            label(for="permissions") Først, velg hvem som skal kunne se filene
            select#permissions.chosen-permissions(name="permissions" data-placeholder="Vises bare for meg" multiple)
              +permission_options(active_user.groups, active_user.friends)
            label(for="tags") Det er valgfritt om du vil kategorisere med merkelapper
            input#tags(type="text" name="tags" placeholder="kommaseparert, liste, med, merkelapper")
            #drop
              | Dra filer hit, eller klikk for å velge. Opplasting starter umiddelbart.

          | {{#uploading_files}}
          .file(intro="fade")
            h2 {{name}}
            .progress
              span.meter(style="width: {{uploading.progress}}%")
          | {{/uploading_files}}

        | {{#files}}
        .row(intro-outro="slide")
          .small-2.columns
            | {{#is_image}}
            img(src="{{thumbnail_path}}")
            | {{/is_image}}
          .small-10.columns
            .file(outro="fade")
              a(href="/files/{{_id}}")
                h2 {{filename}}
              .meta
                .row
                  .columns.small-9
                    span.byline
                      a(href="/users/{{creator.username}}") {{creator.name}}
                      | &nbsp;
                    time.created(datetime="{{isodate(created)}}") {{shortdate(created)}}
                  .columns.small-3.text-right.creator
                    permissionicons(permissions="{{permissions}}")
                    a.edit(href='#')
                      i.fa.fa-edit
                    a.delete(href="/files/{{_id}}" on-click="deleteFile")
                      i.fa.fa-trash-o
              .tags
                p Merkelapper: {{tags}}
        | {{/files}}

        | {{^gotall}}
        .row
          .columns.text-center.dtborder
            a.getmore(on-click="fetchMore") Hent mer
        | {{/gotall}}

block javascript
  script
    | var ractive = require('s7n').files.fileListView(
    != JSON.stringify(files)
    | ,
    != JSON.stringify(active_user)
    | ,
    != JSON.stringify(organization)
    | );

  script.
    $('.chosen-permissions').chosen({width: '100%'});
