extends ../layouts/main

block content
  section#files
    noscript
      .row
        .columns.medium-8
          if active_user
            form#upload(method="post" action="/files/upload" enctype="multipart/form-data")
              h1 Last opp filer
              label(for="permissions") Først, velg hvem som skal kunne se filene
              select#permissions(name="permissions" placeholder="Vises bare for meg" multiple)
                +permission_options(active_user.groups, active_user.friends)
              label(for="tags") Det er valgfritt om du vil kategorisere med merkelapper
              input#tags(type="text" name="tags" placeholder="kommaseparert, liste, med, merkelapper")
              input(type="file" name="file")
              button.small send

          each file in files
            .row
              .columns.small-2
                if file.is_image && file.path
                  img(src=file.thumbnail_path)
              .file.columns.small-10
                a(href="/files/" + file.id)
                  h2= file.filename
                .meta
                  .row
                    .columns.small-9
                      span.byline
                        = shortdate(file.created)
                    .columns.small-3.text-right
                      a.edit(href='#')
                        i.fa.fa-edit
                      i.fa.fa-trash-o
                .tags
                  p Merkelapper:
                    = file.tags

  script#template(type="text/ractive")
    .row
      .columns.medium-8
        if active_user
          form#upload(action="/files/upload")
            h1 Last opp filer
            label(for="permissions") Først, velg hvem som skal kunne se filene
            select#permissions.chosen-permissions(name="permissions" data-placeholder="Vises bare for meg" multiple)
              +permission_options(active_user.groups, active_user.friends)
            label(for="tags") Det er valgfritt om du vil kategorisere med merkelapper
            input#tags(type="text" name="tags" placeholder="kommaseparert, liste, med, merkelapper")
            #drop
              | Dra filer hit, eller klikk for å velge. Opplasting starter umiddelbart.

          | {{#uploading_files}}
          .file(intro="fade")
            h2 {{name}}
            .progress
              span.meter(style="width: {{uploading.progress}}%")
          | {{/uploading_files}}

          .row
            .right.columns.medium-8
              form(on-submit="filter")
                .row
                  .columns.small-2
                    label.right.inline(for="filter") Filtrer
                  .columns.small-10
                    input#filter(name="filter" type="text")

        | {{#files}}
        .row(intro-outro="slide")
          .small-2.columns
            | {{#is_image}}
            img(src="{{thumbnail_path}}")
            | {{/is_image}}
          .small-10.columns
            .file(outro="fade")
              | {{#if .toggledEdit}}
              form(on-submit="editFile")
                input.filename(type="text" name="filename" value="{{.filename}}" placeholder="Filnavn")
                input.tags(type="text" name="tags" value="{{.tags}}" placeholder="Merkelapper")
                button.small Lagre
                button.small.secondary(type="reset" on-click="toggleEdit") Avbryt
              | {{else}}
              a(href="/files/{{_id}}")
                h2 {{filename}}
              .meta
                .row
                  .columns.small-9
                    span.byline
                      a(href="/users/{{creator.username}}") {{creator.name}}
                      | &nbsp;
                    time.created(datetime="{{isodate(created)}}") {{shortdate(created)}}
                  .columns.small-3.text-right.creator
                    permissionicons(permissions="{{permissions}}")
                    | {{#if active_user._id === creator._id || is_admin()}}
                    a.edit(href='#' on-click="toggleEdit")
                      i.fa.fa-edit
                    a.delete(href="/files/{{_id}}" on-click="deleteFile")
                      i.fa.fa-trash-o
                    | {{/if}}
              .tags
                | {{#.tags}}
                | {{#.}}
                a(href="{{taglink(.)}}")
                  i.fa.fa-tag
                  | &nbsp;{{.}}
                | {{/.}}
                | {{/.tags}}
              | {{/if}}
        | {{/files}}

        | {{^gotall}}
        .row
          .columns.text-center.dtborder
            a.getmore(on-click="fetchMore") Hent mer
        | {{/gotall}}

      .columns.medium-4
        h1 Finn filer

        ul
          li
            a(href="/files/t/styremøte") Styremøtereferater
          li
            a(href="/files/t/årsmøter") Årsmøtereferater

        h2 Mest brukte merkelapper

        ul
          | {{#each tags}}
          li
            a(href="{{taglink(.)}}") {{.}}
          | {{else}}
          li
            i Ingen flere
          | {{/each}}

block javascript
  script
    | var ractive = require('s7n').files.fileListView(
    != JSON.stringify(files)
    |,
    != JSON.stringify(tags)
    | ,
    != JSON.stringify(active_user) || "null"
    | ,
    != JSON.stringify(organization.administration_group)
    | );

  script.
    $('.chosen-permissions').chosen({width: '100%'});
