extends ../layouts/main

block content
  .row
    .columns.large-8.medium-10.large-centered.medium-centered
      #forum
        //
          Used by tests, also nice for non-js-peeps (rofl)
        for post in posts
          article.post
            header
              h1
                a(href="/forum/{{oid}}")
                  = post.title
              .meta
                .row
                  .columns.small-9
                    span.byline
                      a(href="/users/" + post.creator._id)= post.creator.name
                    time.created(datetime=post.created)= post.created
              .content
                .row
                  .columns
                    != marked(post.mdtext)

  script#template(type="text/ractive")
    .row
      .columns.text-right
        i.fa.fa-file-o
        | &nbsp;
        a(on-click="toggleNew") Nytt innlegg

    | {{#expanded}}
    form.newpost(method="POST" on-submit="addPost" intro-outro='slide')
      h1 Nytt innlegg
      label(for="title") Tittel
      input#title(name="title" type="text")
      label(for="mdtext") Innhold
      textarea#mdtext(name="mdtext" on-focus-blur="checkAreaSize")
      label(for="permissions") Rettigheter
      select#permissions.chosen-permissions(name="permissions" multiple data-placeholder="Velg hvem som skal få se innlegget")
        +permission_options(active_user.groups, active_user.friends)
      button.small Lagre
      button.small.secondary(type="reset" on-click="toggleNew") Avbryt
    | {{/expanded}}

    | {{#posts}}
    |   {{>post}}
    | {{/posts}}

    | {{^gotall}}
    .row
      .columns.text-center.dtborder
        a.getmore(on-click="fetchPosts") Hent flere innlegg
    | {{/gotall}}

    // {{>post}}
    article
      header
        h1
          a(href="/forum/{{oid}}") {{title}}
        .meta
          .row
            .columns.small-9
              span.byline
                a(href="/users/{{creator._id}}") {{creator.name}}
              time.created(datetime="{{isodate(created)}}") {{shortdate(created)}}
            .columns.small-3.text-right.creator
              i.fa.fa-globe(title="Tilgjengelig for alle")
              i.fa.fa-users(title="Tilgjengelig for alle medlemmer")
              i.fa.fa-user(title="Tilgjengelig bare for deg")
              a(title="Slett innlegget" on-click="deletePost")
                i.fa.fa-trash-o

        .content
          .row
            .columns {{{marked(mdtext)}}}
    // {{/post}}

block javascript
  script
    | var forum = require('s7n').forum.forumView();
    | forum.set('posts', 
    != JSON.stringify(posts)
    | );
