extends ../layouts/main

block content
  .row
    .columns.large-8.medium-10.large-centered.medium-centered
      #forum

  script#template(type="text/ractive")
    article
      header
    | {{#post}}
    article#post
      header
        h1 {{title}}
        .meta
          .row
            .columns.small-9
              span.byline Av 
                a(href="/users/{{creator.username}}") {{creator.name}}
              time.created(datetime="{{isodate(created)}}") {{shortdate(created)}}
            .columns.small-3.text-right.creator
              i.fa.fa-globe(title="Tilgjengelig for alle")
              i.fa.fa-users(title="Tilgjengelig for alle medlemmer")
              i.fa.fa-user(title="Tilgjengelig bare for deg")

      .content
        .row
          .columns {{{marked(mdtext)}}}

      section#replies.dtborder
        .row
          .columns.small-offset-1.small-11
            form
              label(for="reply") Legg inn en kommentar:
              textarea(name="reply" id="reply" on-focus-blur="checkAreaSize")
              a.tiny.button.right(on-click="addReply") Send

        | {{#replies}}
        .row
          .columns.small-offset-1.small-11
            .highlight
              .meta
                span.byline Av 
                  a(href="/users/{{creator.username}}") {{creator.name}}
                a.right(on-click="deleteReply")
                  i.fa.fa-trash-o
              .content {{{marked(mdtext)}}}

            | {{#comments}}
            .row
              .columns.small-offset-1.small-11
                .highlight
                  .meta
                    span.byline Av 
                      a(href="/users/{{creator.username}}") {{creator.name}}
                      a.right(on-click="deleteComment")
                        i.fa.fa-trash-o
                  .content {{{marked(mdtext)}}}
            | {{/comments}}
            .row
              .columns.small-offset-1.small-11
                form
                  label Svar:
                  textarea(name="comment" on-focus-blur="checkAreaSize")
                  a.tiny.button.right(on-click="addComment") Send
        | {{/replies}}
    | {{/post}}

block javascript
  script
    | var forum = require('s7n').forum.threadView();
    | forum.set('post', 
    != JSON.stringify(post)
    | );
