extends ../layouts/main

block content
  .row
    .columns.large-8.medium-10.large-centered.medium-centered
      #forum

  script#template(type="text/ractive")
    | {{#post}}
    article#post
      header
        h1 {{title}}
        .meta
          .row
            .columns.small-9
              span.byline Av 
                a(href="/users/{{creator.username}}") {{creator.name}}
              time.created(datetime="{{isodate(created)}}") {{shortdate(created)}}
            .columns.small-3.text-right.creator
              permissionicons(permissions="{{permissions}}")

      .content
        .row
          .columns {{{marked(mdtext)}}}

      section#replies.dtborder
        .row
          | {{#active_user.profile_picture_path}}
          img(src="{{active_user.profile_picture_path}}").columns.small-2
          | {{/active_user.profile_picture_path}}
          | {{^active_user.profile_picture_path}}
          img(src="/img/user.svg").columns.small-2
          | {{/active_user.profile_picture_path}}
          .columns.small-10
            form
              label(for="reply") Legg inn en kommentar:
              textarea(name="reply" id="reply" on-focus-blur="checkAreaSize")
              a.tiny.button.right(on-click="addReply") Send

        | {{#replies}}
        .row
          | {{#creator.profile_picture_path}}
          img(src="{{creator.profile_picture_path}}").columns.small-2
          | {{/creator.profile_picture_path}}
          | {{^creator.profile_picture_path}}
          img(src="/img/user.svg").columns.small-2
          | {{/creator.profile_picture_path}}
          .columns.small-10
            .highlight
              .meta
                span.byline Av 
                  a(href="/users/{{creator.username}}") {{creator.name}}
                time.created(datetime="{{isodate(created)}}") {{shortdate(created)}}
                a.right(on-click="deleteReply")
                  i.fa.fa-trash-o
              .content {{{marked(mdtext)}}}

            | {{#comments}}
            .row
              | {{#.creator.profile_picture_path}}
              img(src="{{creator.profile_picture_path}}").columns.small-2
              | {{/.creator.profile_picture_path}}
              | {{^.creator.profile_picture_path}}
              img(src="/img/user.svg").columns.small-2
              | {{/.creator.profile_picture_path}}
              .columns.small-10
                .highlight
                  .meta
                    span.byline Av 
                      a(href="/users/{{creator.username}}") {{creator.name}}
                    time.created(datetime="{{isodate(created)}}") {{shortdate(created)}}
                    a.right(on-click="deleteComment")
                      i.fa.fa-trash-o
                  .content {{{marked(mdtext)}}}
            | {{/comments}}
            .row
              | {{#active_user.profile_picture_path}}
              img(src="{{active_user.profile_picture_path}}").columns.small-2
              | {{/active_user.profile_picture_path}}
              | {{^active_user.profile_picture_path}}
              img(src="/img/user.svg").columns.small-2
              | {{/active_user.profile_picture_path}}
              .columns.small-10
                form
                  label Svar:
                  textarea(name="comment" on-focus-blur="checkAreaSize")
                  a.tiny.button.right(on-click="addComment") Send
        | {{/replies}}
    | {{/post}}

block javascript
  script
    | var forum = require('s7n').forum.threadView(
    != JSON.stringify(post)
    | ,
    != JSON.stringify(active_user)
    | );
