extends ../layouts/main

block content
  .row
    .columns
      #forum

  script#template(type="text/ractive")
    | {{#post}}
    h1 {{title}}
    .row.meta
      .columns.small-9
        span.creator Av {{creator}}
        span.created {{created}}
      .columns.small-3.text-right.creator ii ii ii
    .row.content
      .columns {{mdtext}}

    a.button(on-click="addReply") Add reply
    .replies
      | {{#replies}}
      .row.reply
        .columns.small-offset-1
          .content {{mdtext}}
          .row
            .columns.small-offset-1.comments
              | {{#comments}}
              .comment {{mdtext}}
              a.button(on-click="deleteComment") Delete comment
              | {{/comments}}
            a.button(on-click="deleteReply") Delete reply
            a.button(on-click="addComment") Add comment
      | {{/replies}}
    | {{/post}}

block javascript
  script
    | var forum = require('s7n').forum.threadView();
    | forum.set('post', 
    != JSON.stringify(post)
    | );
