extends ../layouts/main

block content

  .row
    .columns
      if active_user
        h1 Oppgi nytt passord
        p Du må nå skrive inn et nytt passord to ganger for at dette skal bli
          | tatt i bruk som ditt nye passord hos oss.

        form(method="post" action="")
          .row
            .columns
              label(for="password1")
              input#password1(type="text" name="password1" placeholder="passord")
          .row
            .columns
              label(for="password2")
              input#password2(type="text" name="password2" placeholder="passord")
          .row
            .columns
              button Send

      else if email
        h1 Nullstill passord

        p En epost har blitt sendt til 
          code= email
          | . I denne er den en lenke som du må klikke på innen den neste timen.
          | Du kommer da til en side hvor du kan sette nytt passord.

        if debug
          hr
          b Detaljer fra eposttjeneren
          p.debug= debug

      else
        h1 Nullstill passord

        if error
          .alert-box.alert
            h3.alert= error

        p Om du har glemt passordet, sender vi en kode til epostadressa du er
          | registrert med i medlemsregisteret, hvis du klarer å gjengi den her.

        form(method="post" action="")
          .row
            .columns
              label(for="email") Epost
              input#email(type="text" name="email" placeholder="email@example.com")
          .row
            .columns
              button Send
