extends ../layouts/main

block content
  section#page

    .row
      .columns
        if is_member
          .right
            a.button.tiny(href="/" + page.slug + "/edit")
                i.fa.fa-edit
                | &nbsp;
                | Rediger

        if page.mdtext
          != marked(page.mdtext)
        else
          em Tom side

        if page.updator
          small.unimportant
            = page.updator.name
            | ,
            |   
            = moment(page.updated).format('LLL')


